In [ ]:
"""
Activity 1.3.6 Notes, Questions, and Coding
Jesse Laue
Going through the lesson and taking notes, answering activity and conclusion questions, and coding.
"""

In [ ]:
"""
Notes
"""

With values the colon acts that if it has 1: it will ignore the first if its flipped :1 it will ignore the last one

In [ ]:
"""
Activity Questions

In [ ]:
#7 
The tuple in this sequence is as follow ('a', 'b', 3)
A = a
B = a & b

In [ ]:
#10 It will change the code so that the second value is three instead of it being 3 with ''

In [ ]:
#10 it changes the statement in the output to false

In [ ]:
#11 A it just adds the list
B Adds a list inside a list

In [ ]:
#12 It cant add a int to a list already

In [ ]:
"""
Conclusion Questions and answers
"""

In [ ]:
#1
Abc are different in the way that they are stored. A is all in one string , b is in a tuple and c is in a list

#2 
Because that way people can differntiate through different variables becau

In [ ]:
"""
Coding
"""

In [ ]:
#5
(2, 4, 5)
(4, 2, 0)

In [ ]:
#6
a = (2, 4, 5)

In [ ]:
#8

a = 10
b = (9, a, 11)
a = 15
b

In [ ]:
#8 p2
b = (9, a, 11)
b[1] == 10
b[1]

In [ ]:
#9
values = ['a','b',3]
values

In [ ]:
#10
values = ['a','b',3]
values[2] == 3

values[2] + 5

values[2]

In [ ]:
#10 P2
values[2] = '3'
values[2] == 3

In [ ]:
#11
values = values + [4, 5]
values

In [ ]:
#11 p2
values.append([6,7])
values

In [ ]:
#12
values = values + 5

In [ ]:
#12
values += [5,6] 
values

( Dont Understand )

In [ ]:
a = 6
a *= 3
a

In [ ]:
#14
import random 
random.choice(values)
random.randint(5, 8)
random.uniform(5,8)

In [54]:
def roll_two_dice():
    two_dice = random.randint(1,6) + random.randint(1,6)
    return two_dice
    
    
roll_two_dice()

8