A1_3_6 Hoffman Programmer: Tobin Hoffman Notes for activity 1_3_6 Tuples and list

In [1]:
some_values=('a','b',3)

In [2]:
some_values

('a', 'b', 3)

In [3]:
some_values[0]

'a'

In [4]:
some_values[2]

3

In [5]:
some_values[1]

'b'

In [6]:
some_values[0:2]

('a', 'b')

In [7]:
some_values[2]= '3'

TypeError: 'tuple' object does not support item assignment

In [8]:
a = 10

In [9]:
b = (9, a, 11)

In [10]:
b

(9, 10, 11)

In [11]:
(9, 10, 11)

(9, 10, 11)

In [12]:
a = 15

In [13]:
a

15

In [14]:
b

(9, 10, 11)

In [15]:
b[1] == 10

True

In [16]:
b = (9, a , 11)

In [17]:
b(1)

TypeError: 'tuple' object is not callable

In [18]:
b[1]

15

In [19]:
values = ['a','b',3]

In [20]:
values

['a', 'b', 3]

In [21]:
values[1]

'b'

In [22]:
values[1:]

['b', 3]

In [23]:
values[2] == 3

True

In [24]:
values[2] + 5

8

In [25]:
values[2]

3

In [26]:
values[2] = '3'

In [27]:
values[2] == 3

False

In [28]:
values = values + [4, 5]

In [29]:
values

['a', 'b', '3', 4, 5]

In [30]:
values.append([6, 7])

In [31]:
values

['a', 'b', '3', 4, 5, [6, 7]]

In [32]:
values = values + 5

TypeError: can only concatenate list (not "int") to list

In [33]:
values += [5,6] # values = values + [5,6]

In [34]:
values

['a', 'b', '3', 4, 5, [6, 7], 5, 6]

In [35]:
a = 6

In [36]:
a *= 3

In [37]:
a

18

In [1]:
import random

In [39]:
random.choice(values) # choose from a list

5

In [40]:
random.randint(5,8) # choose int from [5,6,7,8]

6

In [41]:
random.uniform(5,8) # choose float between 5 and 8

7.7333358764226

In [42]:
def roll_two_dice():
    n=(random.randint(1,6))
    f=(random.randint(1,6))
    print(n+f)

In [43]:
roll_two_dice()

7

In [2]:
def guess_letter():
    
    x=(random.choice('q''w''e''r''t''y''u''i''o''p''a''s''d''f''g''h''j''k''l''z''x''c''v''b''n''m'))
    
    print(x)

In [3]:
guess_letter()

l